﻿@model VspOmaha.ViewModels.Attraction

@{
  ViewBag.Title = "Create";
}

<div style="position: relative; top:-10%; background-color: rgba(51,51,51,.5); color: white;">
  <br />
  @using (Html.BeginForm("Create", "Attraction"))
  {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.AttractionId)
    @Html.HiddenFor(x => x.AttractionTypeId)
    @Html.HiddenFor(x => x.AttractionTypes)
    @Html.ValidationSummary(true)

    <div class="form-horizontal" style=" opacity: 1;">

      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Save" class="btn btn-default" style="background:#484848 ; font-family:Arial" />
          <input type="button" value="Index" onclick="location.href='Index'" class="btn btn-default" style="background:#484848 ; font-family:Arial" />
          @Html.ActionLink("Delete", "Delete", "Attraction", new { attractionId = Model.AttractionId }, new { @class = "btn btn-default", @style = "background:#484848; font-family:Arial;" })
        </div>
      </div>

      <div>

      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.Label("Attraction Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="color:black">
          @Html.DropDownListFor(x => x.AttractionTypeId, Model.AttractionTypes, "--Select One--", new { @id = "ddlAttractionType" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Address.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Address.Address1, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address.Address1, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Address.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Address.Address2, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address.Address2, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Address.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Address.State, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address.State, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Address.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Address.Zip, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address.Zip, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group" style="font-family: Arial">
        @Html.LabelFor(model => model.Synopsis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.TextAreaFor(model => model.Synopsis, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })


        </div>
      </div>

      @*<div class="form-group">
          @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
          </div>
        </div>*@
      <div class="form-group" style="font-family: Arial">

        @Html.LabelFor(model => model.AttractionNeighborhoods, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @for (int i = 0; i < Model.AttractionNeighborhoods.Count; i++)
          {
            @Html.EditorFor(x => Model.AttractionNeighborhoods[i], "AttractionNeighborhood")
            if (i == 6)
            {
              <br />
            }
          }
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />

    </div>
  }



  @section Scripts {
    @Scripts.Render("~/Bundles/Attraction/Create")
  }
</div>
