﻿@model VspOmaha.ViewModels.Attraction

@{
  ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  <h4>Attraction</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.AddressId)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.AddressId)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.AttractionTypeId)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.AttractionTypeId)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Url)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Url)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Synopsis)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Synopsis)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.ImagePath)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.ImagePath)
    </dd>

  </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Create", new { attractionId = Model.AttractionId }) |
  @Html.ActionLink("Back to List", "Index")
</p>
