﻿@model IEnumerable<VspOmaha.ViewModels.Attraction>

@using VspOmaha.Utility

@{
  ViewBag.Title = "Index";
}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Index &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Create New", "Create")
  </div>

  <div class="panel-body">
  </div>

  <table class="table">

    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address.Address1)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address.Address2)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address.City)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address.State)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Address.Zip)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Url)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Synopsis)
      </th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address.Address1)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address.Address2)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address.State)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Address.Zip)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
          @Html.ActionLink("Edit", "Create", new { attractionId = item.AttractionId }) |
          @Html.ActionLink("Details", "Details", new { attractionId = item.AttractionId }) |
          @Html.ActionLink("Delete", "Delete", new { attractionId = item.AttractionId })

        </td>
      </tr>

    }
  </table>
</div>