﻿@model VspOmaha.ViewModels.Home.HomeView

<!--Drop Down Attraction Types-->
<div style="position:relative; top:-8%">
  @*Art*@
  <div class="btn-group" style="width:19%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100%">
      Art <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      @for (var i = 0; i < Model.ArtAttractions.Count; i++)
      {
        <li class="attractionItem" data-attractionid="@Model.ArtAttractions[i].AttractionId" id="AttractionId_@Model.ArtAttractions[i].AttractionId">
          @Html.DisplayFor(x => Model.ArtAttractions[i].Name)
        </li>
      }
    </ul>
  </div>

  @*Culture*@
  <div class="btn-group" style="width:19%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100%">
      Culture <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      @for (var i = 0; i < Model.CultureAttractions.Count; i++)
      {
        <li class="attractionItem" data-attractionid="@Model.CultureAttractions[i].AttractionId" id="AttractionId_@Model.CultureAttractions[i].AttractionId">
          @Html.DisplayFor(x => Model.CultureAttractions[i].Name)
        </li>
      }
    </ul>
  </div>

  @*Literature*@
  <div class="btn-group" style="width:19%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100%">
      Literature <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      @for (var i = 0; i < Model.LiteratureAttractions.Count; i++)
      {
        <li class="attractionItem" data-attractionid="@Model.LiteratureAttractions[i].AttractionId" id="AttractionId_@Model.LiteratureAttractions[i].AttractionId">
          @Html.DisplayFor(x => Model.LiteratureAttractions[i].Name)
        </li>
      }
    </ul>
  </div>

  @*Music*@
  <div class="btn-group" style="width:19%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100%">
      Music <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      @for (var i = 0; i < Model.MusicAttractions.Count; i++)
      {
        <li class="attractionItem" data-attractionid="@Model.MusicAttractions[i].AttractionId" id="AttractionId_@Model.MusicAttractions[i].AttractionId">
          @Html.DisplayFor(x => Model.MusicAttractions[i].Name)
        </li>
      }
    </ul>
  </div>

  @*Theatre*@
  <div class="btn-group" style="width:19%">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100%">
      Theatre <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      @for (var i = 0; i < Model.TheatreAttractions.Count; i++)
      {
        <li class="attractionItem" data-attractionid="@Model.TheatreAttractions[i].AttractionId" id="AttractionId_@Model.TheatreAttractions[i].AttractionId">
          @Html.DisplayFor(x => Model.TheatreAttractions[i].Name)
        </li>
      }
    </ul>
  </div>
</div>

<!--Map iFrame-->
<div id="map" style="width:100%; height:90%; position:relative; top:-8%">
  <a href="#close" title="Close" class="closeMap" onclick="toggleMap('map');" style="text-decoration:none">X</a>
  <iframe src="../../Views/Home/map.cshtml" class="mapframe" scrolling="no" seamless="seamless" name="mapIframe"></iframe>
</div>

<!--Image Gallery-->
<section id="features" class="blue" style="position: absolute; bottom: 4%">
  <div class="content">
    <div class="slider center">
      <div><h3><img src="~/Images/GLM.jpg"></h3></div>
      <div><h3><img src="~/Images/082607Fountain.0140.jpg"></h3></div>
      <div><h3><img src="~/Images/Bridge_skyline.jpg"></h3></div>
      <div><h3><a href="#openModal" onclick="getStuff(3)"><img src="~/Images/PedBridge.jpg"></a></h3></div>
      <div><h3><img src="~/Images/Omaha Skyline_Ferguson.jpg"></h3></div>
      <div><h3><img src="~/Images/YP-Speakers-55.jpg"></h3></div>
    </div>
  </div>
</section>

<!--MODAL WINDOW CODE-->
<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close" style="text-decoration:none">X</a>

    <div>
      <img id="modalPic" />
      <h2 id="modalTitle"></h2>
      <p id="modalAddress"></p>
      <p id="modalInfo"></p>
      <p id="modalLink"></p>

    </div>
  </div>
</div>


<!--InvisTable-->
<table style="display:none">
  <tr>
    <td class="modalPic1">images/402arts.png</td>
    <td class="modalPic2">images/daysky.jpg</td>
    <td class="modalPic3">images/PedBridge.jpg</td>
  </tr>
  <tr>
    <td class="modalTitle1">402 Arts Collective</td>
    <td class="modalTitle2">Bemis Center for Contemporary Arts</td>
    <td class="modalTitle3">Bob Kerrey Pedestrian Bridge</td>
  </tr>
  <tr>
    <td class="modalAddress1"><b>12345 YouKnowIt Rd, Omaha, NE 68104</b></td>
    <td class="modalAddress2">67890 DontYaKnow Blvd, Omaha, NE 68112</td>
    <td class="modalAddress3">705 Riverfront Dr., Omaha, NE 68102</td>
  </tr>
  <tr>
    <td class="modalInfo1">The 402 Arts Collective is known for having collective arts in the 402 area code area.</td>
    <td class="modalInfo2">Bemis Center for Contemporary Arts typically has contemporary arts at it's center.</td>
    <td class="modalInfo3">
      Bob Kerrey Pedestrian Bridge is the longest pedestrian bridge to link two states, providing
      safe crossing from Omaha to Council Bluffs over the Missouri River for walking and biking enthusiasts, connecting to
      150 miles of trails on each side.
    </td>
  </tr>
  <tr>
    <td class="modalLink1">For more info, visit: www.402ArtsCollective.com</td>
    <td class="modalLink2">For more info, visit: www.BemisCenterforContArts.com</td>
    <td class="modalLink3"><a href="http://www.visitomaha.com/listings/Bob-Kerrey-Pedestrian-Bridge/59364/0/#.VFKbJJDF_IU" target="_blank">Visit the website!</a></td>
  </tr>
</table>

@section scripts {
  @Scripts.Render("~/Bundles/Home/Index")
}
