﻿


<section id="features" class="blue" style="position: absolute; bottom: 0px">
  <div class="content">
    <div class="slider center">
      <div><h3><img src="images/GLM.jpg"></h3></div>
      <div><h3><img src="images/082607Fountain.0140.jpg"></h3></div>
      <div><h3><img src="images/Bridge_skyline.jpg"></h3></div>
      <div><h3><a href="#openModal" onclick="getStuff(3)"><img src="images/PedBridge.jpg"></a></h3></div>
      <div><h3><img src="images/Omaha Skyline_Ferguson.jpg"></h3></div>
      <div><h3><img src="images/YP-Speakers-55.jpg"></h3></div>
    </div>
  </div>
</section>
<!--<img src="images/CAT-i Logo.png">-->

<div id="map">
  <a href="#close" title="Close" class="closeMap" onclick="toggleMap('map');" style="text-decoration:none">X</a>
  <iframe sandbox="allow-scripts" src="~/Views/Home/map.cshtml" class="mapframe" scrolling="no" seamless="seamless"></iframe>
</div>


<p class="links" style="color:white">
  <a class="work" href="#loginModal">Admin Access</a> |
  <a href="mailto:jennav.porterfield@gmail.com?subject:WebDevClass" class="work">Contact Us</a> |
  <a href="javascript:void(0)" onclick="toggleMap('map');" class="work">View Map</a>
</p>

<!--MODAL WINDOW CODE-->
<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close" style="text-decoration:none">X</a>

    <div>
      <img id="modalPic" />
      <h2 id="modalTitle"></h2>
      <p id="modalAddress"></p>
      <p id="modalInfo"></p>
      <p id="modalLink"></p>

    </div>
  </div>
</div>

<!--InvisTable-->
<table style="display:none">
  <tr>
    <td class="modalPic1">~/Images/402arts.png</td>
    <td class="modalPic2">~/Images/daysky.jpg</td>
    <td class="modalPic3">~/Images/PedBridge.jpg</td>
  </tr>
  <tr>
    <td class="modalTitle1">402 Arts Collective</td>
    <td class="modalTitle2">Bemis Center for Contemporary Arts</td>
    <td class="modalTitle3">Bob Kerrey Pedestrian Bridge</td>
  </tr>
  <tr>
    <td class="modalAddress1"><b>12345 YouKnowIt Rd, Omaha, NE 68104</b></td>
    <td class="modalAddress2">67890 DontYaKnow Blvd, Omaha, NE 68112</td>
    <td class="modalAddress3">705 Riverfront Dr., Omaha, NE 68102</td>
  </tr>
  <tr>
    <td class="modalInfo1">The 402 Arts Collective is known for having collective arts in the 402 area code area.</td>
    <td class="modalInfo2">Bemis Center for Contemporary Arts typically has contemporary arts at it's center.</td>
    <td class="modalInfo3">
      Bob Kerrey Pedestrian Bridge is the longest pedestrian bridge to link two states, providing
      safe crossing from Omaha to Council Bluffs over the Missouri River for walking and biking enthusiasts, connecting to
      150 miles of trails on each side.
    </td>
  </tr>
  <tr>
    <td class="modalLink1">www.402ArtsCollective.com</td>
    <td class="modalLink2">www.BemisCenterforContArts.com</td>
    <td class="modalLink3"><a href="http://www.visitomaha.com/listings/Bob-Kerrey-Pedestrian-Bridge/59364/0/#.VFKbJJDF_IU" target="_blank">Visit the website!</a></td>
  </tr>
</table><div id="map">
  <a href="#close" title="Close" class="closeMap" onclick="toggleMap('map');" style="text-decoration:none">X</a>
  <iframe src="~/Views/Home/map.cshtml" class="mapframe" scrolling="no" seamless="seamless"></iframe>
</div>


<section id="features" class="blue" style="position: absolute; bottom: 0px">
  <div class="content">
    <div class="slider center">
      <div><h3><img src="images/GLM.jpg"></h3></div>
      <div><h3><img src="images/082607Fountain.0140.jpg"></h3></div>
      <div><h3><img src="images/Bridge_skyline.jpg"></h3></div>
      <div><h3><a href="#openModal" onclick="getStuff(3)"><img src="images/PedBridge.jpg"></a></h3></div>
      <div><h3><img src="images/Omaha Skyline_Ferguson.jpg"></h3></div>
      <div><h3><img src="images/YP-Speakers-55.jpg"></h3></div>
    </div>
  </div>
</section>
<!--<img src="images/CAT-i Logo.png">-->

<p class="links" style="color:white">
  <a class="work" href="#loginModal">Admin Access</a> |
  <a href="mailto:jennav.porterfield@gmail.com?subject:WebDevClass" class="work">Contact Us</a> |
  <a href="javascript:void(0)" onclick="toggleMap('map');" class="work">View Map</a>
</p>

<!--MODAL WINDOW CODE-->
<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close" style="text-decoration:none">X</a>

    <div>
      <img id="modalPic" />
      <h2 id="modalTitle"></h2>
      <p id="modalAddress"></p>
      <p id="modalInfo"></p>
      <p id="modalLink"></p>

    </div>
  </div>
</div>

<!--InvisTable-->
<table style="display:none">
  <tr>
    <td class="modalPic1">images/402arts.png</td>
    <td class="modalPic2">images/daysky.jpg</td>
    <td class="modalPic3">images/PedBridge.jpg</td>
  </tr>
  <tr>
    <td class="modalTitle1">402 Arts Collective</td>
    <td class="modalTitle2">Bemis Center for Contemporary Arts</td>
    <td class="modalTitle3">Bob Kerrey Pedestrian Bridge</td>
  </tr>
  <tr>
    <td class="modalAddress1"><b>12345 YouKnowIt Rd, Omaha, NE 68104</b></td>
    <td class="modalAddress2">67890 DontYaKnow Blvd, Omaha, NE 68112</td>
    <td class="modalAddress3">705 Riverfront Dr., Omaha, NE 68102</td>
  </tr>
  <tr>
    <td class="modalInfo1">The 402 Arts Collective is known for having collective arts in the 402 area code area.</td>
    <td class="modalInfo2">Bemis Center for Contemporary Arts typically has contemporary arts at it's center.</td>
    <td class="modalInfo3">
      Bob Kerrey Pedestrian Bridge is the longest pedestrian bridge to link two states, providing
      safe crossing from Omaha to Council Bluffs over the Missouri River for walking and biking enthusiasts, connecting to
      150 miles of trails on each side.
    </td>
  </tr>
  <tr>
    <td class="modalLink1">For more info, visit: www.402ArtsCollective.com</td>
    <td class="modalLink2">For more info, visit: www.BemisCenterforContArts.com</td>
    <td class="modalLink3"><a href="http://www.visitomaha.com/listings/Bob-Kerrey-Pedestrian-Bridge/59364/0/#.VFKbJJDF_IU" target="_blank">Visit the website!</a></td>
  </tr>
</table>