﻿
<!DOCTYPE html>
<html>
<head>
  <title>We Find Entertainment | Map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <link href="~/Content/map.css" rel="stylesheet" />

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrECGpzwxp7m9MLKJ_FCPaPyjA3b4KqE4"></script>
  <script src="~/Scripts/jQuery.js"></script>
  <script src="~/Scripts/map.js"></script>

</head>
<body>
  <div id="panel">
    <input onclick="showMeArt();" type=button value="All about Art">
    <input onclick="showMeCulture();" type=button value="Culture at it's finest">
    <input onclick="showMeLit();" type=button value="Lets get Literate">
    <input onclick="showMeMusic();" type=button value="Dance to the Music">
    <input onclick="showMeTheatre();" type=button value="Put on the Ritz">
    <input onclick="iWantItAll();" type=button value="I want it all!">

    <select>
      <option value="Aksarben">Aksarben</option>
      <option value="Benson">Benson</option>
      <option value="Central Omaha">Central Omaha</option>
      <option value="Deer Park">Deer Park</option>
      <option value="Downtown">Downtown</option>
      <option value="Dundee">Dundee</option>
      <option value="Florence">Florence</option>
      <option value="Hanscom Park">Hanscom Park</option>
      <option value="Little Italy">Little Italy</option>
      <option value="Midtown">Midtown</option>
      <option value="Minnelusa">Minne Lusa</option>
      <option value="NorthOmaha">North Omaha</option>
      <option value="Oldmarket">Old Market</option>
      <option value="SouthOmaha">South Omaha</option>
      <option value="West Omaha">West Omaha</option>
    </select>
  </div>
  <div id="map-canvas"></div>
</body>
</html>