﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>

  <link rel="stylesheet" type="text/css" href="~/Content/cati.css">
  <link rel="stylesheet" type="text/css" href="~/Content/jquerymegamenu.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="~/Content/slick.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/style2.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/example.css">
  <link rel="stylesheet" type="text/css" href="~/Content/catiModal.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrECGpzwxp7m9MLKJ_FCPaPyjA3b4KqE4"></script>
  <script type="text/javascript" src="~/Scripts/slick.js"></script>
  <script type="text/javascript" src="~/Scripts/scripts.js"></script>
  <script type="text/javascript" src="~/Scripts/modal.js"></script>
  <script src="~/Scripts/jquerymegamenu.js" type="text/javascript"></script>
  <script src="~/Scripts/map.js" type="text/javascript"></script>
  @Styles.Render("~/Content/Layout")

</head>
<body style="background-image:url(../../Images/omaha.jpg); background-repeat:no-repeat; background-size:cover; width:100%">


        @RenderBody()
        <footer style="background-color:black; width:100%; position:fixed; bottom:0px">
          <div class="navbar-collapse collapse" style="background-color:black; width:100%">
            <ul class="nav navbar-nav" style="position: fixed; bottom:8%; width:100%">
              <li>@Html.ActionLink("Home", "Index", "Home")</li>
              <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
              <li style="text-decoration:underline"><a onclick="toggleMap('map')">View Map</a></li>
              <li style="text-align:right">@Html.Partial("_LoginPartial")</li>
            </ul>
          </div>
          <hr />
          <p style="text-align:center">
            <img src="~/Images/yplogo.png" style="width:8%" />
            &copy; @DateTime.Now.Year - We Find Entertainment
          </p>
        </footer>

  @Scripts.Render("~/Bundles/Layout")
  @RenderSection("scripts", required: false)
</body>
</html>
