﻿<!DOCTYPE html>
<html>
<head>
  <title>We don't Coast | Culture, Arts & Theatre information</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="~/Content/cati.css" rel="stylesheet" />
  <link href="~/Content/jqueryMegaMenu.css" rel="stylesheet" />
  <link href="~/Content/slick.css" rel="stylesheet" />
  <link href="~/Content/Style2.css" rel="stylesheet" />
  <link href="~/Content/example.css" rel="stylesheet" />
  <link href="~/Content/catiModal.css" rel="stylesheet" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrECGpzwxp7m9MLKJ_FCPaPyjA3b4KqE4"></script>
  <script src="~/Scripts/slick.js"></script>
  <script src="~/Scripts/scripts.js"></script>
  <script src="~/Scripts/modal.js"></script>
  <script src="~/Scripts/jqueryMegamenu.js"></script>
  <script src="~/Scripts/map.js"></script>
  
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript">
      jQuery(function(){
        var SelfLocation = window.location.href.split('?');
        switch (SelfLocation[1]) {
          case "justify_right":
            jQuery(".megamenu").megamenu({ 'justify':'right' });
            break;
          case "justify_left":
          default:
            jQuery(".megamenu").megamenu();
        }
      });
  </script>
</head>
<body style="width:100%; background:url(images/skyline3.jpg); background-size:cover;">
  <table id="Page">
    <tr>
      <td valign="top">
        <!--MegaMenu Starts-->
        <ul class="megamenu">
          <li>
            <a href="javascript:void(0)" class="art" onclick="toggleMap('map');">Art</a>
            <div>
              <table class="tabular-content">
                <tr>
                  <td><a href="#openModal" onclick="getStuff(1)">402 Arts Collective</a></td>
                  <td>Anderson O'Brien Fine Art</td>
                  <td>Artist Cooperative Gallery</td>
                </tr>
                <tr>
                  <td><a href="#openModal" onclick="getStuff(2)">Bemis Center for Contemporary Arts</a></td>
                  <td>Blue Pomegranate</td>
                  <td>Creighton Lied Art Gallery</td>
                </tr>
                <tr>
                  <td>Dundee Gallery</td>
                  <td>Gallery 72</td>
                  <td>Hilmer Art Gallery</td>
                </tr>
                <tr>
                  <td>Hot Shops Art Center</td>
                  <td>Joslyn Art Museum</td>
                  <td>Modern Arts Midtown</td>
                </tr>
                <tr>
                  <td>Passageway Gallery</td>
                  <td>Philip Schrager Collection of Contemporary Art</td>
                  <td>Summer Arts Festival</td>
                </tr>
                <tr>
                  <td>Sweatshop Gallery</td>
                  <td>UNO Art Gallery</td>
                  <td>White Crane Gallery</td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleMap('map');">Culture</a>
            <div>
              <table class="tabular-content">
                <tr>
                  <td>Apollon</td>
                  <td><a href="#openModal" onclick="getStuff(3)">Bob Kerrey Pedestrian Bridge</a></td>
                  <td>Boys Town Village</td>
                </tr>
                <tr>
                  <td>Carver Bank</td>
                  <td>CenturyLink Convention Center</td>
                  <td>Cinco de Mayo!</td>
                </tr>
                <tr>
                  <td>Douglas County Historical Society</td>
                  <td>El Museo Latino</td>
                  <td>Film Streams</td>
                </tr>
                <tr>
                  <td>Freedom Park</td>
                  <td>Gene Leahy Mall</td>
                  <td>Gerald R. Ford Birthsite and Gardens</td>
                </tr>
                <tr>
                  <td>Great Plains Black History Museum</td>
                  <td>Heartland of America Park</td>
                  <td>Henry & Dorothy Riekes Museum</td>
                </tr>
                <tr>
                  <td>Henry Doorly Zoo</td>
                  <td>Historic Florence Bank</td>
                  <td>House of Loom</td>
                </tr>
                <tr>
                  <td>Jewell Building</td>
                  <td>Joslyn Castle</td>
                  <td>Kaneko</td>
                </tr>
                <tr>
                  <td>Kenefick Park</td>
                  <td>Lauritzen Gardens</td>
                  <td>Lewis and Clark Landing</td>
                </tr>
                <tr>
                  <td>Loves Jazz and Arts Center</td>
                  <td>Malcolm X Birthsite</td>
                  <td>Memorial Park</td>
                </tr>
                <tr>
                  <td>Mormon Train Center at Historic Winter Quarters</td>
                  <td>Mt. Vernon Gardens</td>
                  <td>Nebraska Shakespeare</td>
                </tr>
                <tr>
                  <td>Omaha Children's Museum</td>
                  <td>Omaha Fashion Week</td>
                  <td>Out with Sprout</td>
                </tr>
                <tr>
                  <td>Pioneer Courage Park</td>
                  <td>Ralston Arena</td>
                  <td>Sokol South Omaha Czechoslovak Museum</td>
                </tr>
                <tr>
                  <td>The Durham Museum</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleMap('map');">Literature</a>
            <div>
              <table class="tabular-content">
                <tr>
                  <td>A.V. Sorenesen Public Library</td>
                  <td>Benson Public Library</td>
                  <td>Bess Johnson Public Library</td>
                </tr>
                <tr>
                  <td>Charles B. Washington Public Library</td>
                  <td>Florence Public Library</td>
                  <td>Millard Public Library</td>
                </tr>
                <tr>
                  <td>Milton R. Abrahams Public Library</td>
                  <td>Saddlebrook Public Library</td>
                  <td>South Omaha Public Library</td>
                </tr>
                <tr>
                  <td>W. Clarke Swanson Public Library</td>
                  <td>W. Dale Clark Public Library</td>
                  <td>Willa Cather Public Library</td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleMap('map');">Music</a>
            <div>
              <table class="tabular-content">
                <tr>
                  <td>Barley Street Tavern</td>
                  <td>Maha Music Festival</td>
                </tr>
                <tr>
                  <td>OLeavers</td>
                  <td>Reverb Lounge</td>
                </tr>
                <tr>
                  <td>Slowdown</td>
                  <td>Sokol Underground</td>
                </tr>
                <tr>
                  <td>The Waiting Room Lounge</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="toggleMap('map');">Theatre</a>
            <div>
              <table class="tabular-content">
                <tr>
                  <td>Blue Barn Theatre</td>
                  <td>Circle Theatre</td>
                </tr>
                <tr>
                  <td>Funny Bone Comedy Club</td>
                  <td>Holland Center</td>
                </tr>
                <tr>
                  <td>Omaha Community Playhouse</td>
                  <td>Orpheum Theater</td>
                </tr>
                <tr>
                  <td>Ralston Community Theatre</td>
                  <td>Shelterbelt Theatre</td>
                </tr>
                <tr>
                  <td>The Backline Comedy Club</td>
                  <td>The Rose</td>
                </tr>
              </table>
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </table>


  @RenderBody()


  <!--MegaMenu Ends-->

  @*<div id="map">
    <a href="#close" title="Close" class="closeMap" onclick="toggleMap('map');" style="text-decoration:none">X</a>
    <iframe src="~/Views/Home/map.cshtml" class="mapframe" scrolling="no" seamless="seamless"></iframe>
  </div>*@
  @*<section id="features" class="blue" style="position: absolute; bottom: 0px">
    <div class="content">
      <div class="slider center">
        <div><h3><img src="images/GLM.jpg"></h3></div>
        <div><h3><img src="images/082607Fountain.0140.jpg"></h3></div>
        <div><h3><img src="images/Bridge_skyline.jpg"></h3></div>
        <div><h3><a href="#openModal" onclick="getStuff(3)"><img src="images/PedBridge.jpg"></a></h3></div>
        <div><h3><img src="images/Omaha Skyline_Ferguson.jpg"></h3></div>
        <div><h3><img src="images/YP-Speakers-55.jpg"></h3></div>
      </div>
    </div>
  </section>*@
  <!--<img src="images/CAT-i Logo.png">-->

  <p class="links" style="color:white">
    <a class="work" href="#loginModal">Admin Access</a> |
    <a href="mailto:jennav.porterfield@gmail.com?subject:WebDevClass" class="work">Contact Us</a> |
    <a href="javascript:void(0)" onclick="toggleMap('map');" class="work">View Map</a>
  </p>

  <!--MODAL WINDOW CODE-->
  <div id="openModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close" style="text-decoration:none">X</a>

      <div>
        <img id="modalPic" />
        <h2 id="modalTitle"></h2>
        <p id="modalAddress"></p>
        <p id="modalInfo"></p>
        <p id="modalLink"></p>

      </div>
    </div>
  </div>

  <div id="loginModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close" style="text-decoration:none">X</a>

      <div>
        <h2>Admin Access - User Log-In</h2>
        <p id="username">Username</p>
        <input type=text />
        <p id="password">Password</p>
        <input type="password" />
        @Html.ActionLink("Login", "Index", "Admin", null, new { @class = "btn" })
      </div>
    </div>
  </div>

  <!--InvisTable-->
  <table style="display:none">
    <tr>
      <td class="modalPic1">images/402arts.png</td>
      <td class="modalPic2">images/daysky.jpg</td>
      <td class="modalPic3">images/PedBridge.jpg</td>
    </tr>
    <tr>
      <td class="modalTitle1">402 Arts Collective</td>
      <td class="modalTitle2">Bemis Center for Contemporary Arts</td>
      <td class="modalTitle3">Bob Kerrey Pedestrian Bridge</td>
    </tr>
    <tr>
      <td class="modalAddress1"><b>12345 YouKnowIt Rd, Omaha, NE 68104</b></td>
      <td class="modalAddress2">67890 DontYaKnow Blvd, Omaha, NE 68112</td>
      <td class="modalAddress3">705 Riverfront Dr., Omaha, NE 68102</td>
    </tr>
    <tr>
      <td class="modalInfo1">The 402 Arts Collective is known for having collective arts in the 402 area code area.</td>
      <td class="modalInfo2">Bemis Center for Contemporary Arts typically has contemporary arts at it's center.</td>
      <td class="modalInfo3">
        Bob Kerrey Pedestrian Bridge is the longest pedestrian bridge to link two states, providing
        safe crossing from Omaha to Council Bluffs over the Missouri River for walking and biking enthusiasts, connecting to
        150 miles of trails on each side.
      </td>
    </tr>
    <tr>
      <td class="modalLink1">For more info, visit: www.402ArtsCollective.com</td>
      <td class="modalLink2">For more info, visit: www.BemisCenterforContArts.com</td>
      <td class="modalLink3"><a href="http://www.visitomaha.com/listings/Bob-Kerrey-Pedestrian-Bridge/59364/0/#.VFKbJJDF_IU" target="_blank">Visit the website!</a></td>
    </tr>
  </table>



<!--<div class="container body-content">
    
    <hr />
    <footer>
    </footer>
</div>-->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/scripts")

@RenderSection("scripts", required: false)
</body>
</html>