body {
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

#Page {
  width:100%;
  margin: auto;
}

ul.megamenu {
  width: 98%;
  background-color:none;
}

.megamenu li{
  width:20%;
  text-align:center;
}

a:link, a:visited {
  color: #333;
}

a:hover {
  color: #666;
}

.tabular-content {
  border-collapse: collapse;
  border:none;
  font-size: 12px;
  width: 480px;
}

.tabular-content td {
  padding: 4px 5px;
  border-right: 1px solid gray;
  width:33%;
}

.tabular-content td:last-child{
  border:none;
}