html, body{
	height:100%;
	margin: 0px;
	padding:0px;
}

#map-canvas {
	height: 90%;
	margin: 1%;
	padding: 0px;
	border: 3px solid #333;
	border-radius: 25px;
}

#panel{
	margin:1%;
	text-align:center;
	
}